/* Global styles */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar styles */
  nav {
    background-color: #3498db;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #2980b9;
  }
  
  /* About us section styles */
  #about {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
  }
  
  /* Testimonials section styles */
  #testimonials {
    background-color: #f1c40f;
    color: #fff;
    padding: 20px;
  }
  #testimonials blockquote {
    font-style: italic;
  }
  
  /* Contact us section styles */
  #contact {
   
    background-color: #9b59b6;
    color: #fff;
    padding: 20px;
    }
    #contact form {
    display: flex;
    flex-wrap: wrap;
    }
    #contact form label {
    width: 100%;
    margin-bottom: 10px;
    }
    #contact form input, #contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    }
    #contact form input[type="submit"] {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }
    
    /* Footer styles */
    footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
    }
    
  
    
    
      